body {
    font-family: "Funnel Sans", sans-serif;
    background-color: rgb(26, 26, 26);
}

.banner {
    height: 400px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    background-image: url(/bg.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin: 16px 0px;
    position: relative;
    padding-left: 4.5em;
    padding-bottom: 3em;
    overflow: hidden;
}

@media (max-width: 768px) {
    .banner {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1em;
    }

    .banner .stats {
        display: none;
    }
}

.filter-label {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 8px;
}

.badge svg {
    stroke-width: 3px;
    width: 12px;
    height: 12px;
}

.card {
    background-color: rgb(38, 38, 38);
    border: none;
}

.card {
    text-decoration: none;
}

.game-thumbnail {
    height: 198px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 18%);
}

.dd-sm {
    margin-bottom: 0.2em;
    opacity: 0.8;
    font-size: 1em;
}

.sidebar {
    position: sticky;
    top: 16px;
}

.banner .stats {
    position: absolute;
    bottom: 1em;
    right: 30px;
    text-align: end;
    font-family: "Funnel Display", sans-serif;
    display: flex;
}

.banner .stats > div {
    margin-left: 2em;
}

.banner .stats p {
    margin: 0;
}

.banner .stats .sub {
    font-style: italic;
    width: 100%;
    font-size: 1.25em;
    opacity: 0.8;
}

.banner .stats .num {
    font-size: 7em;
    font-weight: 600;
    background: linear-gradient(to bottom, #ffffff, #ffffff00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 120px;
}